<div class="large-10 medium-9 small-8 columns full-height">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel"><b>Accout Overview</b></a>
      <div id="panel" class="content active">
        <ul class="large-block-grid-2">
          <li>
            <div id="assets" style="width:100%;"></div>
          </li>
          <li>
            <div id="debts" style="width:100%;"></div>
          </li>
        </ul>
        <ul class="large-block-grid-3">
          <li>
            <b>Total Assets: </b>
            <%= number_to_currency(@user.net_worth.fetch("total_assets")) %>
          </li>
          <li>
            <b>Total Debts: </b>
            <%= number_to_currency(@user.net_worth.fetch("total_debts")) %>
          </li>
          <li>
            <b>Net Worth: </b>
            <%= number_to_currency(@user.net_worth.fetch("net_worth")) %>
          </li>
        </ul>
      </div>
    </li>

    <li class="accordion-navigation">
      <a href="#panelb"><b>Recent Transactions</b></a>
      <div id="panelb" class="content">
        <table id="recent-transactions">
          <thead>
            <th>Posted</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Name</th>
            <th>Memo</th>
            <th>Tags</th>
          </thead>
          <tbody>
            <%= render partial: '/accounts/transactions', locals: { transactions: @user.transactions }%>
          </tbody>
        </table>
      </div>
    </li>

    <% @user.accounts.each_with_index do |group, i| %>
      <% unless group[1].empty? %>
        <li class="accordion-navigation">
          <a href="#panel<%= i %>"><%= group.first %></a>
          <div id="panel<%= i %>" class="content">
            <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
              <% group[1].each do |account| %>
                <% unless account.empty? %>
                  <li>
                    <ul class="pricing-table">
                      <li class="title">
                        <%= account.fetch("name") %>
                      </li>
                      <li class="description">
                        <%= account.fetch("account_type").capitalize %>
                      </li>
                      <li class="price">
                        <%= number_to_currency(account.fetch("balance")) %>
                      </li>
                      <li class="bullet-item">
                        <%= account.fetch("fi").nil? ? "FI Name Unknown" : account.fetch("fi").fetch("name") %>
                      </li>
                      <li class="cta-button">
                        <%= link_to "View Account", account_path(account.fetch("id")), class: "tiny button" %>
                      </li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= javascript_include_tag "account_overview" %>
