<div class="large-10 medium-9 small-8 columns full-height">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel"><b>Accout Overview</b></a>
      <div id="panel" class="content active">
        <ul class="large-block-grid-2">
          <li>
            <div id="assets" style="width:100%;"></div>
          </li>
          <li>
            <div id="debts" style="width:100%;"></div>
          </li>
        </ul>
        <ul class="large-block-grid-3">
          <li>
            <b>Total Assets: </b>
            <%= number_to_currency(@user.account.net_worth(@user)["total_assets"]) %>
          </li>
          <li>
            <b>Total Debts: </b>
            <%= number_to_currency(@user.account.net_worth(@user)["total_debts"]) %>
          </li>
          <li>
            <b>Net Worth: </b>
            <%= number_to_currency(@user.account.net_worth(@user)["net_worth"]) %>
          </li>
        </ul>
      </div>
    </li>

    <li class="accordion-navigation">
      <a href="#panelb"><b>Recent Transactions</b></a>
      <div id="panelb" class="content">
        <table id="recent-transactions">
          <thead>
            <th>Posted</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Name</th>
            <th>Memo</th>
            <th>Tags</th>
          </thead>
          <tbody>
            <% @user.account.transactions(@user, 1).each do |t| %>
              <tr>
                <td><%= Time.parse(t["posted_at"]).strftime("%m/%d/%Y") %></td>
                <td><%= number_to_currency(t["balance"]) %></td>
                <td><%= t["transaction_type"] %></td>
                <td><%= t["original_name"] %></td>
                <td><%= t["memo"] %></td>
                <td><%= t["tags"].collect { |n| n["name"] }[0] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <% @user.account.all(@user).each_with_index do |group, i| %>
      <li class="accordion-navigation">
        <a href="#panel<%= i %>"><%= group[0] %></a>
        <div id="panel<%= i %>" class="content">
          <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
            <% group[1].each do |account| %>
              <% unless account.empty? %>
                <li>
                  <ul class="pricing-table">
                    <li class="title"><%= account["name"] %></li>
                    <li class="description"><%= account["account_type"].capitalize %></li>
                    <li class="price"><%= number_to_currency(account["balance"]) %></li>
                    <li class="bullet-item"><%= account["fi"].nil? ? "FI Name Unknown" : account["fi"]["name"] %></li>
                    <li class="cta-button"><%= link_to "View Account", account_path(account["id"]), class: "tiny button" %></li>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
  $(function () {

      var assets = <%= raw @user.account.assets(@user) || 'null' %>
      // Make monochrome colors and set them as default for all pies
      Highcharts.getOptions().plotOptions.pie.colors = (function () {
          var colors = [],
              base = Highcharts.getOptions().colors[0],
              i;

          for (i = 0; i < 10; i += 1) {
              // Start out with a darkened base color (negative brighten), and end
              // up with a much brighter color
              colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
          }
          return colors;
      }());

      // Build the chart
      $('#assets').highcharts({
          chart: {
              height: 300,
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          legend: {
              enabled: true
          },
          title: {
              text: 'Cash, Investments, and Assets'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false,
                      format: '<b>{point.name}</b>: ${point.y:.2f}',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  },
                  showInLegend: true
              }
          },
          series: [{
              type: 'pie',
              name: 'Total',
              data: assets
          }]
      });
  });


  $(function () {

      var debts = <%= raw @user.account.debts(@user) || 'null' %>
      // Make monochrome colors and set them as default for all pies
      Highcharts.getOptions().plotOptions.pie.colors = (function () {
          var colors = [],
              base = Highcharts.getOptions().colors[5],
              i;

          for (i = 0; i < 10; i += 1) {
              // Start out with a darkened base color (negative brighten), and end
              // up with a much brighter color
              colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
          }
          return colors;
      }());

      // Build the chart
      $('#debts').highcharts({
          chart: {
              height: 300,
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          legend: {
              enabled: true
          },
          title: {
              text: 'Debt, Credit Cards, and Bills'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false,
                      format: '<b>{point.name}</b>: ${point.y:.2f}',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  },
                  showInLegend: true
              }
          },
          series: [{
              type: 'pie',
              name: 'Total',
              data: debts
          }]
      });
  });
</script>
