<div class="large-10 medium-9 small-8 columns full-height">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel"><b>Accout Overview</b></a>
      <div id="panel" class="content active">
        <%= @user.account.net_worth(@user) %>
        <div id="assets" style="width:50%; height:400px; float: left;"></div>
        <div id="liabilities" style="width:50%; height:400px; float: right;"></div>
      </div>
    </li>

    <% @user.account.all(@user).each_with_index do |group, i| %>
      <li class="accordion-navigation">
        <a href="#panel<%= i %>"><%= group[0] %></a>
        <div id="panel<%= i %>" class="content">
          <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
            <% group[1].each do |account| %>
              <% unless account.empty? %>
                <li>
                  <ul class="pricing-table">
                    <li class="title"><%= account["name"] %></li>
                    <li class="description"><%= account["account_type"].capitalize %></li>
                    <li class="price"><%= number_to_currency(account["balance"]) %></li>
                    <li class="bullet-item"><%= account["fi"].nil? ? "FI Name Unknown" : account["fi"]["name"] %></li>
                    <li class="cta-button"><%= link_to "View Account", account_path(account["id"]), class: "tiny button" %></li>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
  $(function () {

      var assets = <%= raw @user.account.assets(@user) || 'null' %>
      // Make monochrome colors and set them as default for all pies
      Highcharts.getOptions().plotOptions.pie.colors = (function () {
          var colors = [],
              base = Highcharts.getOptions().colors[0],
              i;

          for (i = 0; i < 10; i += 1) {
              // Start out with a darkened base color (negative brighten), and end
              // up with a much brighter color
              colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
          }
          return colors;
      }());

      // Build the chart
      $('#assets').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: 'Cash, Investments, and Assets'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: ${point.y:.2f}',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Total',
              data: assets
          }]
      });
  });


  $(function () {

      var debts = <%= raw @user.account.debts(@user) || 'null' %>
      // Make monochrome colors and set them as default for all pies
      Highcharts.getOptions().plotOptions.pie.colors = (function () {
          var colors = [],
              base = Highcharts.getOptions().colors[5],
              i;

          for (i = 0; i < 10; i += 1) {
              // Start out with a darkened base color (negative brighten), and end
              // up with a much brighter color
              colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
          }
          return colors;
      }());

      // Build the chart
      $('#liabilities').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: 'Debt, Credit Cards, and Bills'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: ${point.y:.2f}',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Total',
              data: debts
          }]
      });
  });
</script>
