<div class="row full-width">
  <div class="large-2 medium-3 columns full-height side-bar">
    <ul class="side-nav">
      <li><a href="#">Account Overview</a></li>
      <li><a href="#">Spending Analysis</a></li>
      <li><a href="#">Add Account</a></li>
    </ul>
  </div>

  <div class="large-10 medium-9 columns full-height">
    <ul class="accordion" data-accordion>
      <% @accounts.each_with_index do |group, i| %>
        <li class="accordion-navigation">
          <a href="#panel<%= i %>"><%= group[0] %></a>
          <div id="panel<%= i %>" class="content <%= "active" if i == 0 %>">
            <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
              <% group[1].each do |account| %>
                <% unless account.empty? %>
                  <li>
                    <ul class="pricing-table">
                      <li class="title"><%= account["name"] %></li>
                      <li class="description"><%= account["account_type"] %></li>
                      <li class="price"><%= number_to_currency(account["balance"]) %></li>
                      <li class="bullet-item"><%= account["fi"]["name"] unless account["fi"].nil? %></li>
                      <li class="cta-button"><a class="tiny button" href="#">View Account</a></li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
