<div class="large-10 medium-9 small-8 columns full-height">
  <ul class="pricing-table">
    <li class="price">
      <%= @account.property("name") %>
    </li>
    <li class="description">
      Balance: <%= number_to_currency(@account.property("balance")) %>
      <br />
      Recent Transactions
    </li>
    <li class="description">
      <% if !params[:page].nil? && params[:page].to_i > 1 %>
        <%= link_to "< Prev", account_path(params[:id], page: params[:page].to_i - 1), class: "button tiny" %>
      <% end %>
      <%= link_to "Next >", account_path(params[:id], page: params[:page].to_i + 1), class: "button tiny" %>
      <table id="recent-transactions">
        <thead>
          <th>Posted</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Name</th>
          <th>Memo</th>
          <th>Tags</th>
        </thead>
        <tbody>
          <%= render partial: 'transactions', locals: { transactions: @transactions }%>
        </tbody>
      </table>
    </li>
  </ul>
</div>
