<div class="large-10 medium-9 small-8 columns full-height">
  <ul class="pricing-table">
    <li class="title">
      <%= @account.name %>
      <br />
      Balance: <%= number_to_currency(@account.balance) %>
      <br />
      Recent Transactions
    </li>
    <li class="description">
      <table id="recent-transactions">
        <thead>
          <th>Posted</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Name</th>
          <th>Memo</th>
          <th>Tags</th>
        </thead>
        <tbody>
          <% @account.transactions(1).each do |t| %>
            <tr>
              <td><%= Time.parse(t["posted_at"]).strftime("%m/%d/%Y") %></td>
              <td><%= number_to_currency(t["balance"]) %></td>
              <td><%= t["transaction_type"] %></td>
              <td><%= t["original_name"] %></td>
              <td><%= t["memo"] %></td>
              <td><%= t["tags"].collect { |n| n["name"] }[0] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  </ul>
</div>
