<% transactions.each do |t| %>
  <tr>
    <td><%= Time.parse(t.fetch("posted_at")).strftime("%m/%d/%Y") %></td>
    <td><%= number_to_currency(t.fetch("balance")) %></td>
    <td><%= t.fetch("transaction_type") %></td>
    <td><%= t.fetch("original_name") %></td>
    <td><%= t.fetch("memo") %></td>
    <td><%= t.fetch("tags").collect { |n| n.fetch("name") }.first %></td>
  </tr>
<% end %>
